<header class="header px-4 py-2 has-background-grey-darker">
    <img class="mr-2" width=35 src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiLhLZI7hg1qXc__jO7swo3z7kKUSNBcgh3__YAhJZRSVC68CExXgPrO2DIVN7v5pw1sEyQvmnw9gssrcqBiAtL9C7Hx-4En41jK4rRnXyMfbrdVzYBTKadfPkTEdAJfQzCUQ7ROssFekM/s800/record_player.png" />
    
    <span class="title is-size-1">Parnassus Records</span>

    <NavBar />
</header>

@code {

}
