<nav class="navbar mt-3">
    <NavButton NavRoute="/" NavText="Home" />
    <NavButton NavRoute="/albums" NavText="All Albums" />
    <NavButton NavRoute="/albums/add" NavText="Add New Album" />
</nav>

@code {

}
