@page "/"

<PageTitle>Home</PageTitle>

<div class="columns">
    <div class="column subtitle is-italic has-text-centered mt-4">
        "...der Erde lieblichstes Bild,<br />
        als Muse mir geweiht,<br />
        so heilig hehr als mild,<br />
        ward kühn von mir gefreit,<br />
        am lichten Tag der Sonnen,<br />
        durch Sanges Sieg gewonnen<br />
        Parnass und Paradies!"<br />
        <br />
        <audio controls src="https://pouch.jumpshare.com/preview/APKVxq4eACS3zykVfFCYB0Swot1ztAYdnwO8dwqjGJo40LQyUNRE2fGm0h6vZDf-wSxnZOa2gD1SvPMTf9fw3bNjRucYXGmZckGe-Gu3hc0ubrq2zCzjgyJ1o92f2Y0AGzl7hZA0TetLnx5ZNU-vbW6yjbN-I2pg_cnoHs_AmgI.mp3"></audio>
    </div>
</div>

@code {

}
