@if (allAlbums == null)
{
    <span class="notification is-warning mt-1">Loading...</span>
}
else
{
    <AlbumSummaryList AllAlbums="allAlbums" />
}

@code {
    public List<Album>? allAlbums;

    protected override async Task OnInitializedAsync()
    {
        HttpClient httpClient = new HttpClient();
        allAlbums = await httpClient.GetFromJsonAsync<List<Album>>("https://localhost:7218/Albums/");
    }
}
